@import "src/@fuse/scss/fuse";

lottery {

    .content {

        .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;

            .card {
                display: flex;
                align-items: flex-start;
                padding: 10px 10px 10px 10px;
                margin-bottom: 1px;

                .card-preview {
                    display: flex;
                    min-width: 170px;

                    .fuse-card {
                        min-width: 170px !important;
                        border-radius: 6px;

                        .text-boxed {
                            font-size: 9px;
                        }
                        .white-fg{
                            color:#f9e09b;
                        }
                        .light-green-fg{
                            color:#6dec72;
                        }
                        .smoke-gray-fg{
                            color:#cac8c4;
                        }
                        .dark-red-fg{
                            color:#bf0d00;
                        }
                    }
                    .active{
                        //background-image: linear-gradient(80deg, #04682f, #022c1485);
                        background-color: #007113;
                    }

                    .inactive{
                        //background-image: linear-gradient(98deg, #c9b4a7, #c9b4a714);
                        background-color: gray;
                    }
                }

                .card-source {
                    display: none;
                }
            }
        }

        &.source {

            .cards {
                flex-direction: column;

                .card {
                    width: 100%;
                    margin-bottom: 24px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

                    .card-source {
                        background: #263238;
                        display: flex !important;
                        flex: 1;
                        max-height: 400px;
                        min-width: 400px;
                        margin-left: 24px;
                        overflow: auto;
                        -webkit-overflow-scrolling: touch;
                    }
                }
            }
        }
    }
}
