<div id="cards" class="page-layout simple fullwidth">
    <!-- CONTENT -->
    <div class="content p-8" [ngClass]="this.view">
        <div id="thai-lottery">
            <div class="mat-title mt-32">หวยไทย</div>
            <div class="cards">
                <div class="card">
                    <div class="card-preview">
    
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หวยรัฐบาล
                                </div>
                                <div class="green-fg font-size-30 line-height-50">
                                    01:45:53
                                </div>
                                <div class="font-size-12 line-height-12">
                                   <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
               
                <div class="card">
                    <div class="card-preview">
    
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หุ้นไทยเย็น
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-preview">
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">จับยี่กี
                                </div>
                                <div class="green-fg font-size-30 line-height-50">
                                    24 ชั่วโมง
                                </div>
                                <div class="font-size-12 line-height-12">
                                   <span class="text-boxed">เปิดแทง 88 รอบ</span> 
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-preview">
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">จับยี่กี VIP
                                </div>
                                <div class="green-fg font-size-30 line-height-50">
                                    24 ชั่วโมง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">เปิดแทง 88 รอบ</span> 
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-preview">
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หวยออมสิน
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-preview">
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หวย ธกส.
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="oversea-lottery">
            <div class="mat-title mt-32">หวยต่างประเทศ</div>
            <div class="cards">
                <div class="card">
                    <div class="card-preview">
    
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หุ้นดาวน์โจน
                                </div>
                                <div class="green-fg font-size-30 line-height-50">
                                    01:45:53
                                </div>
                                <div class="font-size-12 line-height-12">
                                   <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
               
                <div class="card">
                    <div class="card-preview">
    
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หวยมาเลย์
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-preview">
    
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">นิเคอิรอบเช้า
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
    
                <div class="card">
                    <div class="card-preview">
    
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">จีนรอบเช้า
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-preview">
    
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">ฮั่วเส็งรอบเช้า
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-preview">
    
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หุ้นไต้หวัน
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-preview">
    
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หุ้นเกาหลี
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-preview">
    
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">นิเคอิรอบบ่าย
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-preview">
    
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">จีนรอบบ่าย
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-preview">
    
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">ฮั่วเส็งรอบบ่าย
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-preview">
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หวยลาว
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-preview">
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หวยลาวสตาร์
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-preview">
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หุ้นสิงคโปร์
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-preview">
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หุ้นอินเดีย
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-preview">
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หวยฮานอยพิเศษ
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-preview">
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หวยฮานอย
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-preview">
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หวยฮานอย VIP
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-preview">
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หวยฮานอย 4D
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-preview">
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หวยฮานอย 5G
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-preview">
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หุ้นรัสเซีย
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-preview">
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หุ้นเยอรมัน
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-preview">
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หุ้นอังกฤษ
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-preview">
                        <div class="fuse-card">
                            <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text font-weight-500">หุ้นอียิปต์
                                </div>
                                <div class="red-fg font-size-30 line-height-50">
                                    ปิดรับแทง
                                </div>
                                <div class="font-size-12 line-height-12">
                                    <span class="text-boxed">ปิดรับแทง 03/07/2563 02:00:00</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- / CONTENT -->

</div>
